need entries in the df for the metadata.

what about making a utils script...

In [1]:
# use pytorch_env

import os

import numpy as np
import pandas as pd
import seaborn as sns

import cv2
import iptcinfo3
from iptcinfo3 import IPTCInfo
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle

import pickle

from utils_bodies import get_meta_keys, get_IPTC_data, meta_to_df

In [2]:
pkl_file = open('df.pkl', 'rb')
df = pickle.load(pkl_file)
pkl_file.close()

path = '/home/simon/Documents/Bodies/data/jeppe/images'

In [4]:
df_new = meta_to_df(df, path)

In [5]:
print(df_new.shape)
print(df_new.columns)

(7009, 32)
Index(['img_id', 'feature', 'xmin', 'xmax', 'ymin', 'ymax', 'width', 'height',
       'depth', 'object name', 'urgency', 'fixture identifier', 'keywords',
       'release date', 'date created', 'time created', 'by-line',
       'by-line title', 'city', 'province/state',
       'country/primary location code', 'country/primary location name',
       'headline', 'credit', 'source', 'copyright notice', 'caption/abstract',
       'writer/editor', 'custom1', 'custom2', 'custom3', 'custom4'],
      dtype='object')

In [6]:
df_new.head()

,img_id,feature,xmin,xmax,ymin,ymax,width,height,depth,object name,...,headline,credit,source,copyright notice,caption/abstract,writer/editor,custom1,custom2,custom3,custom4
0,JS33851,person,1867.0,4024.0,1.0,2432.0,4024.0,2648.0,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spanner,Raw,2005,DSC_9740.NEF
1,JS33851,adult,1865.0,4022.0,1.0,2432.0,4024.0,2648.0,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spanner,Raw,2005,DSC_9740.NEF
2,JS33851,male,1863.0,4020.0,1.0,2432.0,4024.0,2648.0,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Spanner,Raw,2005,DSC_9740.NEF
3,JS16121,person,1548.0,2317.0,429.0,1164.0,3008.0,1960.0,3,NaN,...,Iraqis demonstrate on the second anniversary o...,Polaris Images,NaN,Johan Spanner/Polaris,Supporters of Moqtada Al Sadr filled the stree...,NaN,Spanner,Raw,2005,DSC_1599.JPG
4,JS16121,male,1548.0,2327.0,412.0,1161.0,3008.0,1960.0,3,NaN,...,Iraqis demonstrate on the second anniversary o...,Polaris Images,NaN,Johan Spanner/Polaris,Supporters of Moqtada Al Sadr filled the stree...,NaN,Spanner,Raw,2005,DSC_1599.JPG

In [7]:
# Pickle the dataset.

file_name = "df_full.pkl"
output = open(file_name, 'wb') 
pickle.dump(df_new, output)
output.close()